@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home - Razor";
}
@section head{

    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Home Page for Razor Form Samples</h1>
}
<p><i>where will this appear</i></p>
<p>Hello world!!!!!!</p>

@section footer{
    &copy; CPSC1517 Nait, all rights reservered
}