@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home - Razor";
}
@section head{

    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Home Page for Razor Form Samples</h1>
}

<p>Hello World!</p>

@section footer{
    &copy; CPSC1517 NAIT, all rights reserved
}