@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "DropDown";
}
@section head{

    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Drop Down for Razor Form Samples</h1>
}


@section footer{
    &copy; CPSC1517 NAIT, all rights reserved
}